<ul class="nav">
    <a class="nav-item" href="/"><li>Home</li></a>
    <a class="nav-item" href="/my_profile"><li>My Profile</li></a>
    <a class="nav-item" href="/upcoming_events"><li>Upcoming Events</li></a>
    <a class="nav-item" href="/rules"><li>Rules</li></a>
    <a class="nav-item" href="/lore"><li>Lore</li></a>
    <a class="nav-item" href="/paypal"><li>PayPal</li></a> 
    <a class="nav-item" href="/forums"><li>Forums</li></a>
</ul>