<ul>
    <li>Name:</li>
    <li>Age:</li>
    <li>Height:</li>
    <li>Home Region:</li>
    <li>Total XP:</li>
    <li>Time Units:</li>
    <li>Species:</li>
    <li>Core Concept:</li>
</ul>
<br>
<p>Essence Pool</p>
<p>____/____</p>
<p>Hit Points</p>
<p>____/____</p>
<br>
<h3>Attributes</h3>
<ul>
    <li>Strength - 0 0 0 0 0</li>
    <li>Dexterity - 0 0 0 0 0</li>
    <li>Willpower - 0 0 0 0 0</li>
    <li>Insight - 0 0 0 0 0</li>
    <li>Cunning - 0 0 0 0 0</li>
</ul>
<h3>Skills</h3>
<ul>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
    <li>__________ O O O O O __________ O O O O O </li>
</ul>
<h3>Unique Traits</h3>
<p>___________________________________________</p>
<p>___________________________________________</p>
<p>___________________________________________</p>
<p>___________________________________________</p>
<p>___________________________________________</p>
<h3>Attunements | Level</h3>
<p>____________ ______</p>
<p>____________ ______</p>
<p>____________ ______</p>
<p>____________ ______</p>
<p>____________ ______</p>
<h3>Talents And Traits</h3>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<h3>Languages</h3>
<p>__________________________________________</p>
<p>__________________________________________</p>
<h3>Goal(s)</h3>
<p>__________________________________________</p>
<p>__________________________________________</p>
<h3>Equipment</h3>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<h3>Spells & Maneuvers</h3>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
<p>__________________________________________</p>
