{{>nav}}
<h1>My Profile</h1>

{{!-- <a target="popup" onclick="window.open('/create/profile','popup','width=1146,height=800'); return false;">Create Profile</a> --}}
<a href="/edit/profile">Edit Profile</a>
{{>profile}}