{{>nav}}
<h1>Rules</h1>

<p>Stolen from: <a target="_blank" href="http://animeusa.org/larp/larp-rules/">http://animeusa.org/larp/larp-rules/</a></p>

<h2>Part 1: Policy Rules</h2>
<p>The Policy rules written here are for attendees to the LARP, and apply to real life, not to your characters. No one wants to end up hurt, offended, or otherwise uncomfortable as a result of an unwanted real interaction. These rules are here to ensure that does not happen.</p>

<p>No Physical Contact: Regardless of how comfortable we feel with one another, you are not to physically touch anyone unless they give you permission to do so. They have the right to take that permission back at any time. Consent is Key</p>

<p>No Stunts: What your character does happens solely in the context of the roleplay itself. Obviously, you are allowed to copy the mannerisms and general behavior of your character, but you are not your character and probably couldn’t survive the stunts that they could. There’s a reason more than half of the stat descriptions are listed as entirely beyond the realm of what an average person could do, and sadly, all of us in real life are just that. Average.</p>

<p>Keep it Socially Acceptable: The LARP itself is open to players of any age, but keep in mind that young and mature players come to the game expecting a certain degree of maturity. We try to avoid any kind of language or in-character behavior that would be offensive to others, unless they’ve consented to you playing your character in a base and immature manner. Regardless, we would prefer no vulgar language, or sexual references or content. Use discretion while playing the game, especially with younger players and those who were brought or are escorted by their parents. This may be their first convention, and all of us as fellow nerds need to make a good impression.</p>

<p>We will absolutely not tolerate any kind of hate speech, sexual harassment, racial insensitivity, or otherwise unacceptable or marginalizing behavior against any of the players, for any reason. We reserve the right to correct you on this behavior or otherwise ask you to leave should you refuse to curb your behavior. In the same vein, we encourage you correct any GM’s who do the same.</p>

<p>The GM’s Word is Law: The Game Masters that keep the game running smoothly are the ultimate ruling on any issue. If a GM has concluded something and yo could not quickly convince them otherwise, there is no other recourse. GM’s can go as far as to override the rules written here as long as other GM’s agree with them, with exception of these very policy rules (As much as we would sometimes like to, we will not force a player to take a punch to the face.)  If there is a legitimate concern from players that certain behavior or rulings are completely  incorrect and flawed, they may appeal to the Head GM for a final ruling.</p>

<h2>LEGAL STUFF:</h2>

<p>All contents of this rulebook and all supplementary items used in the game (character sheets, item cards, et al) are the property of Arturo Bohorquez and are not to be used or duplicated without permission. I don’t have a problem if you want to use the system, just ask first.</p>

<p>The LARP and its GMs are not responsible for items lost/stolen while playing the game. It is for this reason that the GMs suggest not leaving personal belongings in the LARP Room</p>

<h2>Part 2: Your Character Sheet</h2>

<p>Hit Points (HP) – Your character’s HP determine how much damage they can take in combat. When reduced to zero, your character falls unconscious. When reduced to -5, your character is dead. Characters do not “bleed out.”</p>

<p>Energy Points (EP) – Your Character’s EP determine their metaphysical stamina: how many times they can use or abuse their own tricks before they find themselves exhausted, burnt out, or simply lacking in ability to continue. Every character has EP, even if they don’t have any Powers that allow them to use it.</p>

<p>Armor – What your character is wearing or any intrinsic quality that grants them the ability to reduce damage. Some types of Armor may have specific strengths or weaknesses.</p>

<p>Wealth – Your character’s monetary acumen and personal wealth or resources available in the game.</p>

<h2>ATTRIBUTES:</h2>

<p>Attributes are your character’s six core defining physical and mental abilities. They define their raw ability to achieve tasks.</p>

<p>Strength (STR): How strong your character is. Their ability to exert force on anything around them.</p>

<p>Dexterity (DEX): How nimble and fast your character is. Their physical flexibility and ability to react.</p>

<p>Health (HLTH): The overall bodily toughness of your character. How much damage, abuse, and neglect their body can suffer through.</p>

<p>Intelligence (INT): How smart your character is. Their ability to apply methodology and logic to resolve a problem.</p>

<p>Willpower (WIL): Your character’s resolve and determination in the face of mental stresses. Effectively, how tough your mind is when affected by outside forces.</p>

<p>Charisma (CHA): Your force of personality. How well you get along with others or appeal to others naturally.</p>

<p>These attributes are described on a rating of 0-9</p>

<h1 style="color: red;">MY PICTURE HERE</h1>

<h2>SKILLS</h2>

<p>If Attributes are your character’s raw and inherent abilities, Skills are both what they’ve specialized in and what they’ve been completely ignorant of or neglected.</p>

<p>Note that any skills not listed on your character remain that way because your character is completely UNAWARE that such a skill exists (and should react accordingly) He or she may become familiar with or even train in these skills in the course of the game (with GM approval) and GMs may write in these newly gained skills.</p>

<h3>(Combat Skills)</h3>

<p>Dodge – Your ability to get out of the way of people trying to hit you.</p>

<p>Melee – Your ability to hit people in close quarters combat, using weaponry.</p>

<p>Martial Arts – Your ability to hit someone using nothing but your own body as a weapon, whether this be fists, tentacles, etc.</p>

<p>Throwing – Your ability to hit a target with things you throw.</p>

<p>Firearms – Your ability to hit someone with a firearm based projectile.</p>

<p>Archery – Your ability to hit someone with a bow and arrow.</p>

<p>BFG – Big Fancy Guns. These are usually weapon emplacements (on vehicles, walls, spacecraft, mecha, etc) Smaller, handheld versions of these may be available but entirely unwieldy.</p>

<p>Run – Your ability to remove yourself from a fight.</p>

<h3>(Knowledge Skills)</h3>

<p>Medicine – Your ability to bandage wounds, diagnose medical problems, and decipher cures for pathogens.</p>

<p>Computers – Your ability to use, repair, maintain, and improve a computer system, as well as your ability to hack said systems.</p>

<p>Vehicles – Your ability to pilot vehicles and maintain them.</p>

<p>Science – your knowledge of scientific fields.</p>

<p>Magic – your knowledge of occult or mystical things, and your ability to understand new ones.</p>

<h3>(Manipulation Skills)</h3>

<p>Coerce – Your ability to get someone else to do what you want them to, through your knowledge of theatrics, your ability to seduce them, your incredible prowess, your ability to outsmart their own logic, your force of personality, or the terror you instill in them .</p>

<p>Disguise – Your ability to change your appearance to fool those around you (or in some cases, some very specific people)</p>

<p>Conceal – Your ability to hide items on your person</p>

<p>Pick Pocketing – Your ability to steal items from others without them noticing. Stealing items from other players is done at a -4 penalty.</p>

<p>Stealth – Your ability to go around undetected or remain unseen while someone searches for you.</p>

<p>Perception – Your ability to find anything hidden, to see things others could not, or to notice something specific you’re looking for.</p>

<p>Skills may have Majors and Minors written into a character’s sheets.</p>

<ul>
    <li>A Major is what your character focused on within that skill, and what they get their full bonus on.</li>
    <li>A Minor is what your character trained in, but didn’t care much for. they receive a -1 on checks made in these minors.</li>
    <li>If a character has majors/minors, then any use of the skill that doesn’t fall into one of those categories receives a -3 on their checks.</li>
    <li>If a character has no major/minors, all relevant uses of the skill use the maximum bonus.</li>
</ul>

<h2>ABILITIES</h2>

<p>The powers unique to your character when compared to other characters. These are what truly separate the character you play from the people around you. They’re your character’s signature moves and special abilities, drawn from the most memorable or solidly written parts of their continuity.</p>

<p>These are separated into four broad categories:</p>

<p>Attack Abilities: Powers used specifically for combat, attack abilities require combat checks and often deal damage to one or more opponents.</p>

<p>Non-Attack Abilities: These are usually used to show the character’s mastery of their lateral thinking or their more utilitarian abilities. They may require standard checks or opposed checks if used against a target, but don’t usually deal direct damage.</p>

<p>Passive Abilities: These are abilities intrinsic to the character that do not need to be triggered or are actively waiting for a trigger. They can be related to combat but may just be natural benefits/penalties received under certain circumstances.</p>

<p>Reactive Abilities: Reactive abilities represent the character’s second-nature when threatened or otherwise put in a situation that they’re used to. These usually require opposed checks, but cannot be triggered except as a reaction to something else happening directly to them, such as an attack.</p>

<p>Toggle Abilities: Toggle abilities don’t require an action to trigger, often being an altered state or transformation. They do however need to be ANNOUNCED at the start of the character’s turn.</p>

<h3>Energy Costs:</h3>

<p>Abilities have differing energy point costs, located at the top right of their entry. There are several different types:</p>

<p>Not Applicable (N/A) – The ability requires no energy points to use.</p>

<p>Passive (P) – The ability requires no energy points to use, and is constantly active.</p>

<p>Variable (X) – The ability’s effect changes depending on how many points of energy are used.</p>

<p>Charge (C-X) – The ability’s effect is increased depending on how much energy is used.</p>

<p>Max Drain (X-MAX) – The ability is so intensive it lowers the maximum energy the character can have for the day.</p>

<h3>Abilities Requiring Checks:</h3>

<p>Some abilities are not used perfectly with the character, and instead they are directly based on how well a character uses one of their Skills or Attributes. In this case, the character will have to make a check against the “Difficulty” listed on the ability to see if they can pull it off normally. Details regarding the consequences of failure (or outstanding success) will be written in the ability description.</p>

<h3>Common Target Descriptors:</h3>

<p>Noncombat – The power cannot be used in combat, although it may have a target</p>

<p>Allies Adjacent – Other characters next or near you receive the benefit. In order to use this ability, players have to say, before or during combat, that they are next to the user of the ability.</p>

<p>Line – Characters hiding behind the target are hit. Abusing this ability depends on the player’s ability to remember other character positioning.</p>

<p>Burst – Characters engaged in melee with the user are hit. Characters in “adjacent” range are also hit.</p>

<p>Ball – Characters that are actively grouped up are hit. Characters in melee with the target are also hit.</p>

<p>Energy or EP represents your ability to use your powers or otherwise expend your supernatural/trained focus to great effect. It does not restore in combat, but it is restored by 1 point for every 5 minutes spent outside of combat up to its natural maximum.</p>

<h2>Part 3: Playing The Game</h2>

<p>Players and their Characters alike should be more defined in the game by their interactions with other characters than by their abilities. After all, Saitama is not just his punch. Edward Elric is not just his alchemy. Solid Snake is not just his stealth. A Player should, more than anything, interact with other players and the world in a manner befitting their character. This is not a game where the GM’s are trying to kill you, nor is it a contest to see who has the coolest stuff, largest killcount, or biggest stat when the LARP closes. It is a story being improvised by as many people as we can fit into the room, each playing an individual character within a larger world. You have truly mastered LARPing when you consider what your character would do, whether it be to their detriment because of their flaws or to their benefit because of their advantages, and then do it regardless. You are as much a writer, as you are an actor, as you are a player.</p>

<p>However, that is not to say that sometimes, an obstacle appears (or you cause it to appear) that you are not sure your character could routinely handle. One that is, effectively, a test of your stats against its ability to impede you. These obstacles must be played by a GM, or in some hopefully rare cases, another Player. Most commonly, these are resolved by Making a Draw.</p>

<h3>Making Draws:</h3>

<p>The “Draw Deck” is effectively two sets of cards from 1-7 (for a total of 14 cards)</p>

<p>Whenever a character wants to perform an action where one would be unsure of the outcome given the circumstances (Combat, Stressful Situations, Noncombat actions while distracted, Use of a skill or ability, etc.) they will usually have to make a draws. This is done by having the GM show you a deck of cards, face down, and having you draw a card from it. These cards range in number from 1 to 7. If the character Draws a 7, it is considered a critical success. The player may draw a card a second time and add the second number to his total; . A character does not draw more than two cards.</p>

<h3>The Standard Draw</h3>

<p>Your run-of-the-mill test of your skill or attribute. This is used against static challenges that are overcome and then forgotten.</p>

<ul>
    <li>Step One: You are told the difficulty of the check by the GM.</li>
    <li>Step Two: You make your Draw</li>
    <li>Step Three: You add your skill or attribute to the Draw.</li>
    <li>Step Four: If this number is equal to or higher than the difficulty, you succeed! If it is lower, you fail.</li>
</ul>

<h3>The Perfection Draw</h3>

<p>Tests of just how far you can go with your skill. Most commonly used to represent just how much a character can achieve given a nigh-unlimited amount of time, and most relevant to research, invention, or trying to succeed against something you’re guaranteed to fail. This kind of draw is not done once, but instead is done repeatedly to show how far your character can push themselves in their endeavor.</p>

<ul>
    <li>Step One: You are told the difficulty of the check by the GM. Initially, this is a 6.</li>
    <li>Step Two: You make your Draw.</li>
    <li>Step Three: You add your skill or attribute to the Draw.</li>
    <li>Step For: If this number is equal to or higher than the difficulty, add 2 to the difficulty of the check and do it again. Each success determines how much you achieve and if there are any additional bonuses you earn.</li>
</ul>

<h3>The Opposed Draw</h3>

<p>Opposed Draws are most commonly done in combat or any other time two characters are actively trying to keep the other one from succeeding in something. Sometimes this involves the same skill (Such as two hackers) and other times it involves separate skills from each character (Melee vs. dodge.)</p>

<ul>
    <li>Step One: Both Characters make their Draw.</li>
    <li>Step Two: They add their relevant skills or attributes to their Draws.</li>
    <li>Step Three: Compare the total numbers. Whoever has the highest number is successful. If the numbers are equal, repeat until someone is successful.</li>
</ul>

<h2>COMBAT:</h2>

<p>Combat is an important part of the game just as much as it is an important part of any series you may watch. Especially so in this LARP, as many characters do not only come from anime but also video games, comic books, and films: forms of media where lacking in action is an easy way to lose a fanbase.</p>

<p>Combat is effectively resolved through the use of a series of checks, though there are other rules that take into consideration how sneaky, tricky, fast, strong, and tough you are.</p>

<p>Combat Round: Combat as a whole is measured in rounds: When everyone involved in a fight, from the fastest to the slowest character, has moved once, the round is over and a new one starts.</p>

<p>Turns: A turn is the point in a round where a specific character gets to take his action. When every character has had a turn, the combat round ends. During a character’s turn, they may make One Standard Action.</p>

<p>Action: An action is something the character does, either on their own initiative or in reaction to other stimuli. There are three kinds of actions:</p>

<p>Standard Actions: These are the most common type of action. They are made on your turn and are completed at the end of your turn. A Standard action can be more than just an attack: It can  also be an attempt to move or close in, or involve a moment to gather your surroundings or insights to your situation.</p>

<p>Free Actions: Free actions are instant: they can happen at any time during anyone’s turn,             although GM’s may ask you to wait if a fight is particularly populated or strenuous. Any number of free actions can be used at any time.</p>

<p>Reactions: Reactions are usually based on Reactive abilities and are used in response to an opponent’s effect on you. You can only make one reaction per turn.</p>

<p>Initiative: Initiative determines who goes first. GM’s will put everyone in order from highest Dex to lowest Dex. Characters who have the same dexterity move faster based on who has the highest intelligence. Characters with the same dexterity and intelligence move simultaneously.</p>

<h3>Attacks: Attacking an opponent is simple:</h3>

<ol>
    <li>Choose what equipment or ability, and corresponding skill, is going to be used to make your    attack.</li>
    <li>Make your skill check against the target’s dodge check. If it is successful, your weapon’s          damage is dealt to the target, reduced by their armor.</li>
</ol>

<p>Multiple Weapon Wielding: Characters may attack with more than one weapon, if they have one. Unless stated that a character can wield two or more weapons at once, dual wielding results in a -2 to each attack draw made.</p>

<p>Surprise Attacks: Sometimes combat is initiated by someone who catches a character unaware. They effectively receive a free attack before initiative is even determined. There are two ways of achieving a surprise attack: A “Sucker Punch” and an “Ambush”</p>

<p>Sucker Punch: Sucker punches can only be performed while using small, handheld weapons such as knifes, handguns, or your own fist. Abilities cannot be used to perform a sucker punch unless it’s specific to that ability’s use and listed on the ability description. To successfully setup a Sucker Punch, the character must:</p>

<ol>
    <li>Not have any reason to be suspected. Things for a GM to consider are their overall “look”, their demeanor, and their charisma.</li>
    <li>Be within range of the weapon to be used.</li>
    <li>Must be in conversation with the character, or the character must otherwise be completely distracted.</li>
    <li>The target character must NOT be currently in combat.</li>
</ol>

<p>Ambushes: Ambushes can be performed with any kind of weapon or ability, but it requires the character to already be successfully hiding in a designated area, and must be attacking someone in that area. To successfully setup an Ambush, a character must:</p>

<ol>
    <li>Make a Stealth check. This Stealth check lasts for 30 minutes. Whenever someone passes by his designated area, the Stealth check must be measured against 3 + that character’s perception or be immediately found without any active checks. Characters can also actively search for people stalking them, allowing them to make a Perception check against the other character’s original Stealth checks.</li>
</ol>

<p>Alternately a character can tail someone while in hiding, following the character until they decide to attack them.</p>

<ol>
    <li>Make a successful stealth check against the target(s) they’re tailing, the difficulty equal to 4 + the opposing group’s highest perception score. Once successful, the character can follow them for 30 real-life minutes.</li>
    <li>While unseen, the character can make an attack. This attack is done with a +2 bonus to the attacker’s roll. Once an attack is made, the character is no longer hiding. This works even if the target is currently in combat.</li>
</ol>

<h2>Damage</h2>

<p>Melee damage is damage dealt when engaging in hand to hand combat. The damage dealt is equal to your Strength. This is whether using a weapon or your fists. When weapons are used, they add damage to your Strength.</p>

<p>Throwing damage is equal to a weapon’s Melee damage + the thrower’s Strength score.</p>

<p>Ranged damage is determined by the weapon being used.</p>

<p>Magic and Ability damage are determined by the power being used itself.</p>

<p>All damage is reduced by Armor related powers say otherwise.</p>